# Chi Square Test

In [2]:
# HYPOTHESIS STATEMENT  :
#Hypothis Testing is an assumption ie idea that is proposed for 
#sake of argument so that it can be tested to see it might be True

In [3]:
# 1st import pandas to convert into dataframe
import pandas as pd

In [4]:
data = [
    ['Very Satisfied', 50, 70, 120],
    ['Satisfied', 80, 100, 180],
    ['Neutral', 60, 90, 150],
    ['Unsatisfied', 30, 50, 80],
    ['Very Unsatisfied', 20, 50, 70]
]

In [5]:
# CREATE DATA FRAME
df1 = pd.DataFrame(data)
df1

                  0   1    2    3
0    Very Satisfied  50   70  120
1         Satisfied  80  100  180
2           Neutral  60   90  150
3       Unsatisfied  30   50   80
4  Very Unsatisfied  20   50   70

In [6]:
# Add columns Names
df1 = pd.DataFrame(data,columns=('Satisfaction', 'Smart Thermostat', 'Smart Light', 'Total'))
df1

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70

In [7]:
df1.head()

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70

In [8]:
df1.shape

(5, 4)

In [9]:
df1.columns

Index(['Satisfaction', 'Smart Thermostat', 'Smart Light', 'Total'], dtype='object')

In [10]:
df1['Smart Thermostat'].value_counts()

Smart Thermostat
50    1
80    1
60    1
30    1
20    1
Name: count, dtype: int64

In [11]:
df1['Smart Light'].value_counts()

Smart Light
50     2
70     1
100    1
90     1
Name: count, dtype: int64

In [12]:
# create contigency table --> is a great way to summarize the relationship
# between catagorical two variable based on dataframe 
# there is no such catagorical data in this dataframe, if present then convert into numerical data to create contigency table.

contigency_table = df1[['Smart Thermostat','Smart Light']]

In [13]:
num_rows, num_cols = contigency_table.shape

In [14]:
# Degree of freedom
dof_manual = (num_rows-1) * (num_cols-1)
dof_manual

4

In [15]:
# Chisquare Test
# Visualization of a chisquare test
# df = degree of freedom
from numpy import random
x=random.chisquare(df = 4 , size=(5,4))
x

array([[ 2.56662608,  6.50798437,  3.46556394,  3.16377087],
       [ 4.05230908,  1.50585335,  0.8365694 ,  2.19919679],
       [ 3.57317341,  0.74898492, 11.59182544,  1.46052521],
       [ 1.75293173,  1.68979531,  7.18622836,  3.45700463],
       [ 6.07192984,  5.99052443,  2.38279244,  3.09685182]])

In [16]:
import numpy as np
# sum of array in above o|p
array = np.array(x)

In [17]:
chi2_stats = np.sum(array)
chi2_stats

73.30044142690642

In [18]:
# critical value
import scipy.stats as stats
alpha = 0.05
critical_value = stats.chi.ppf(1-alpha, dof_manual)

In [19]:
critical_value

3.080215745168048

In [20]:
if chi2_stats < critical_value:
    print("Reject Null Hypothesis")
else:
    print("Accept Null Hypothesis")

Accept Null Hypothesis

# conclusion

In [22]:
# we Accept Null Hypothesis,bcz there is no significant association between the variables